[submodule "themes/serif"]
	path = themes/serif
	url = https://github.com/zerostaticthemes/hugo-serif-theme.git
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/your-identity/hugo-theme-dimension.git
